DEBUG=True
SECRET_KEY=change-me-in-production

POSTGRES_DB=stafftracker
POSTGRES_USER=stafftracker
POSTGRES_PASSWORD=stafftracker
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=admin
S3_ENDPOINT=http://localhost:9000
S3_BUCKET=stafftracker

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@admin.com
DJANGO_SUPERUSER_PASSWORD=admin
