DEBUG=True
SECRET_KEY=change-me-in-production

POSTGRES_DB=stafftracker
POSTGRES_USER=stafftracker
POSTGRES_PASSWORD=stafftracker
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@admin.com
DJANGO_SUPERUSER_PASSWORD=admin
